.navbar{
  background-color: rgb(3, 0, 3);
  padding: 1rem;
}
.navbar a{
  text-decoration: none;
  color: rgb(237, 43, 250);
}
.area{
  display: flex;
  justify-content: space-between;
}
.table{
  margin: 5rem;
}
.table a{
  text-decoration: none;
}
.btn_divide{
  margin: 1rem;
}
.form{
  width: 50%;
  margin: 5rem auto;
}
